* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Smooth scroll for the whole document */
    overflow: hidden; /* Prevent default scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* One page per section */
    overflow: auto; /* Allow controlled scrolling */
    scroll-snap-type: y mandatory; /* Snap to each section vertically */
    fill-opacity: .01;
}

.page {
    flex: 0 0 100vh; /* Each page takes full viewport height */
    scroll-snap-align: start; /* Snap to the start of each page */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.page:nth-child(odd) {
    background-color: #f0f0f0;
    fill-opacity: .1;
}

.page:nth-child(even) {
    fill-opacity: .1;
    background-color: #cce7ff;
}

.page:nth-child(odd) > *{
    background-color: #f0f0f0;
    position: relative; /* Ensures content inside has higher stacking context */
    z-index: 2;
    fill-opacity: 1;
}

.page:nth-child(even) > *{
    background-color: #cce7ff;
    position: relative; /* Ensures content inside has higher stacking context */
    z-index: 2;
    fill-opacity: 1;
}

#page1 {
    background-color: white;

}
#p1_title {
    font-size: 3rem;

    position: relative;
    background-color: transparent;
    left: -100px;
    top: -100px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

#p1_subtitle {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    position: relative;
    background-color: transparent;
    left: -500px;
    top: 200px;
    font-weight: 300;
}

#p2_svg {
    background-color: transparent;
    border-style: none;
}


#p3_text {
    inline-size: 400px;
    padding-right: 30px;
    padding-right: 15px;
    max-height: 500px;
    text-align: center;
    overflow-wrap: break-word;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid black;

}

#p5_title {
    position: relative;
    left: 200px;
    top: -300px;
    color: white;
    background: none;
}
#kc8Selector {
    height: 50px;
    position: relative;
    left: 220px;
    top: -300px;
    font-size: 18px;
}
#p5_text {
    position: relative;
    left: -300px;
    top: 0px;
    inline-size: 500px;
    padding-right: 15px;
    padding-left: 15px;
    max-height: 500px;
    text-align: center;
    overflow-wrap: break-word;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    font-size: 24px;
}

#p8_text {
    position: relative;
    left: 50px;
    top: -300px;
    inline-size: 700px;
    padding-right: 15px;
    padding-left: 15px;
    max-height: 500px;
    text-align: center;
    overflow-wrap: break-word;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    font-size: 24px;

}

.nav {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav button {
    background: none;
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.nav button.active {
    background-color: #f0f0f0;
} 

circle {
    fill-opacity: .7;
}

circle.hidden {
    fill: #ccc !important;
    fill-opacity: .2;
}

circle.highlight {
    fill-opacity: 1;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(240, 240, 240, 0.95);
    color: #333;
    border-radius: 4px;
    font-size: 12px;
    z-index: 9999;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(240, 240, 240, 0.95);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }
  
  .d3-tip h5{
    font-size: 13px;
    font-weight: 600;
    margin: 2px 10px 4px 2px;
  }
  
  .d3-tip thead td {
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    font-weight: 600;
  }
  
  .d3-tip td {
    padding: 2px 10px 2px 2px;
  }
  
  .d3-tip thead tr {
    padding-top: 10px;
  }

text.xaxis-label {
    font-size: 18px;
    font-weight: 600;
}

text.yaxis-label {
    font-size: 24px;
    font-weight: 600;
}

.pm-8-axis-label {
   font-size: 12px;
    fill: #333;
} 

.star-plot-label {
    font-size: 24px;
     fill: #333;
 } 
.pm-8-area {
    fill: steelblue;
    opacity: 0.6;
}
.pm-8-line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

text.xaxis-label {
    font-size: 18px;
    font-weight: 500;
}

.kc8_pg {
    font-size: 18px;
    font-weight: 200;
}

.kc8_axis .tick text{
    fill-opacity: .01;
}

img#main_field {
    position: absolute; /* Position relative to the viewport */
    top: 50%; /* Initial position */
    left: 70%;
    rotate: 0deg;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: auto;
    transition: all 0.5s ease; /* Smooth position transitions */
    pointer-events: none;
    z-index: 0;
}